<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
        <add extension=".htm" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
    
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms">
      <forms name=".signalRChat" loginUrl="login.html" protection="All" path="/" timeout="30"/>
    </authentication>
    
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
  </system.web>
  
  <location path="SecurityHandler.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="signalr">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.webServer>
    <handlers>
      <add name="HTML"
           path="*.html"
           verb="GET, HEAD, POST, DEBUG"
           type="System.Web.UI.PageHandlerFactory"
           resourceType="Unspecified"
           requireAccess="Script"
           />
      
      <add name="HTM"
           path="*.htm"
           verb="GET, HEAD, POST, DEBUG"
           type="System.Web.UI.PageHandlerFactory"
           resourceType="Unspecified"
           requireAccess="Script"
           />
    </handlers>
  </system.webServer> 
</configuration>